@model AARP.Models.Reviewer

@{
    ViewBag.Title = "Details";
}

<h2>@Html.Partial("_PreviousPage")Details</h2>

<div>
    <h4>Reviewer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
