@model IEnumerable<AARP.Models.Evaluations.StatsInterviewersViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterviewerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewerName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewerName)
        </td>
    </tr>
}

</table>
